langchain
ipykernel
python-dotenv
langchain-openai
langchain-google-genai
google-generativeai
langchain-community
langchain-core
streamlit
pydantic
requests
faiss-cpu
pypdf
python-docx
docx2txt
beautifulsoup4
sentence-transformers

